In [1]:
# Import data.csv
import pandas as pd

In [26]:
# Read csv
data_df = "data.csv"
data=pd.read_csv(data_df)
data.head()

,utilization_type,state,ndc,labeler_code,product_code,package_size,year,quarter,product_name,units_reimbursed,number_of_prescriptions,total_amount_reimbursed,medicaid_amount_reimbursed,non_medicaid_amount_reimbursed
0,FFSU,AK,74433907,74,4339,7,2020,2,HUMIRA PEN,NaN,NaN,NaN,NaN,NaN
1,FFSU,AK,93504501,93,5045,1,2020,3,DEXMETHYLP,NaN,NaN,NaN,NaN,NaN
2,FFSU,AK,143988601,143,9886,1,2020,3,AMOXICILLI,NaN,NaN,NaN,NaN,NaN
3,FFSU,AK,536106210,536,1062,10,2020,1,STOOL SOFT,NaN,NaN,NaN,NaN,NaN
4,FFSU,AK,23155010305,23155,103,5,2020,4,METFORMIN,NaN,NaN,NaN,NaN,NaN

In [27]:
data.shape

(1048575, 14)

In [25]:
data.columns

Index(['utilization_type', 'state', 'ndc', 'labeler_code', 'product_code',
       'package_size', 'year', 'quarter', 'product_name', 'units_reimbursed',
       'number_of_prescriptions', 'total_amount_reimbursed',
       'medicaid_amount_reimbursed', 'non_medicaid_amount_reimbursed'],
      dtype='object')

In [30]:
new_data = data(['utilization_type', 'state', 'ndc', 'labeler_code', 'product_code',
       'package_size', 'year', 'quarter', 'product_name'])

#df = pd.read_csv('test.csv')
#df.drop(columns=['col2'], inplace=True)

TypeError: 'DataFrame' object is not callable